.cardproduct {
  border-radius: 30px;
  border: 3px black;
}

ion-icon {
  color: rgb(87, 175, 36);
  margin-left: 10px;
  margin-right: 10px;
}

ion-card-title {
  text-align: center;
  margin-top: 40px;
}

.pice {
  margin-right: 60px;
}

.mplice {
  margin-top: 40px;
}

.btn-book {
  margin-top: 40px;
  width: 50%;
  height: 40px;
  font-size: 22px;
}
