<ion-header>
</ion-header>  

<ion-content>
  <div id="container">
    <div class="header" style="text-align: center;">ผัดไทยป้าเมือง</div>

    <ion-card routerLink="/hoy-tord">
      <img src="https://img.wongnai.com/p/1968x0/2018/12/15/bb08773d48034780ab503b1a4902a6f8.jpg" alt="">
      <ion-card-content>
        <h1>ผัดไทย</h1>
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/patthai">
      <img
        src="http://4.bp.blogspot.com/-BO1EkinWIXw/Uc_aGOJedTI/AAAAAAAAAE0/3hbDlxVu9W0/s600/%E0%B8%9C%E0%B8%B1%E0%B8%94%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%82%E0%B8%9A%E0%B8%A3%E0%B8%B2%E0%B8%93.jpg"
        alt="">
      <ion-card-content>
        <h1>หอยทอด</h1>
      </ion-card-content>
    </ion-card>
    <div class="btn" class="ion-margin">
      <ion-button expand="full" shape="round" routerLink="/home">ย้อนกลับ</ion-button>
    </div>
  </div>


</ion-content>