ion-title {
  color: rgb(172, 128, 17);
  font-family: 'Charmonman', cursive;
  
}
ion-header{
    --background:#FAF6E0;
}

ion-col{
    text-align: center;
}

ion-title{
    font-size: 30px;
    text-align: center;
}

.back-btn{
  width: 10px;  
}
